<p>© Copyright 2018 – Urheberrechtshinweis</p>
<p>
  Alle Inhalte dieses Internetangebots, insbesondere Texte, Fotografien und Grafiken, sind urheberrechtlich geschützt. 
  Das Urheberrecht liegt, soweit nicht ausdrücklich anders gekennzeichnet, bei [NAME]. 
  Bitte fragen Sie mich, falls Sie die Inhalte dieses Internetangebotes verwenden möchten.
</p>
<p>
  Unter der „Creative Commons“-Lizenz“ veröffentlichte Inhalte, sind als solche gekennzeichnet.
  Sie dürfen entsprechend den angegebenen Lizenzbedingungen verwendet werden.
</p>
<p>
  Wer gegen das Urheberrecht verstößt (z.B. Bilder oder Texte unerlaubt kopiert), 
  macht sich gem. §§ 106 ff UrhG strafbar, wird zudem kostenpflichtig abgemahnt 
  und muss Schadensersatz leisten (§ 97 UrhG).
</p>
